# Database
DB_HOST="localhost"
DB_PORT=5555
DB_DATABASE="user_crud"
DB_USER="admin"
DB_PASSWORD="123"
DB_CONNECTION_STRING="Host=${DB_HOST};Port=${DB_PORT};Pooling=true;Database=${DB_DATABASE};User Id=${DB_USER};Password=${DB_PASSWORD};"

# Cors
ORIGIN="http://localhost:8080"

# JWT
JWT_ISSUER="fake-issuer"
JWT_AUDIENCE="fake-audience"
JWT_EXPIRATION_TIME_IN_MINUTES=240
JWT_PRIVATE_KEY="fake-private-key"
JWT_PUBLIC_KEY="fake-public-key"

# Cookies
AUTH_TOKEN_COOKIE="fake_token"

# Minio
OBJECT_STORAGE_BUCKET="fake"
OBJECT_STORAGE_ID="34f71e6db4c5cf1be3e3edc312ebda11"
OBJECT_STORAGE_ENDPOINT="http://localhost:9000"
OBJECT_STORAGE_PUBLIC_URL="http://localhost:9000/fake"
OBJECT_STORAGE_ACCESS_KEY="minioadmin"
OBJECT_STORAGE_SECRET_KEY="minioadmin"
